/*html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input{
  border:none;
}

a{
  text-decoration: none;
}*/

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.works__item-title,
.works__title,
.decor__title,
.collection__info-title,
.furniture__title,
.top__slider-title,
.rightside__menu-title,
.footer__info-title,
.menu__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #5A5A5A;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 10px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots li.slick-active button {
  background-color: #FFEF35;
}

.slick-dots button {
  background-color: #5A5A5A;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  font-size: 0;
}

.works__item-title,
.works__title,
.decor__title,
.collection__info-title,
.furniture__title,
.top__slider-title,
.rightside__menu-title,
.footer__info-title,
.menu__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.none {
  display: none !important;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__btn {
  margin-left: 61px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.no-scroll {
  display: none;
}

.logo {
  margin: 0 auto;
}

.menu__list {
  display: flex;
  -moz-column-gap: 79px;
       column-gap: 79px;
}

.menu__list-link {
  font-size: 16px;
  color: rgba(54, 56, 56, 0.9033);
  line-height: 22px;
}

.footer__content {
  background-color: #DFDFDF;
  padding: 61px 0 80px;
}

.footer__info {
  width: 539px;
}

.footer__inner {
  display: flex;
  -moz-column-gap: 99px;
       column-gap: 99px;
}

.footer__info-title {
  color: #363838;
  line-height: 23px;
  margin-bottom: 14px;
}

.footer__info-text {
  max-width: 476px;
  margin-bottom: 16px;
}

.footer__info-email {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  display: inline-block;
  margin-bottom: 22px;
  padding-left: 30px;
}

.footer__info-email::before {
  content: "";
  background-image: url(../img/footer/email.svg);
  position: absolute;
  top: 9px;
  left: 0;
  width: 16px;
  height: 12px;
}

.footer__form {
  display: flex;
}

.footer__form-email {
  width: 100%;
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid rgba(54, 56, 56, 0.7);
}

.footer__form-email::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #A1A1A1;
}

.footer__form-email::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #A1A1A1;
}

.footer__form-button {
  min-width: 160px;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFF0;
  text-align: center;
  padding: 6px 12px;
  border: none;
  background-color: #363838;
  border-radius: 21px;
}

.footer__row {
  display: flex;
  -moz-column-gap: 176px;
       column-gap: 176px;
}

.footer__social-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer__social-link {
  color: #707070;
  padding-left: 25px;
  position: relative;
}

.footer__social-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
}

.footer__social-link--facebook::before {
  background-image: url(../img/footer/facebook.svg);
  width: 16px;
  height: 16px;
}

.footer__social-link--instagram::before {
  background-image: url(../img/footer/instagram.svg);
  top: 8px;
  left: 1px;
  width: 14px;
  height: 14px;
}

.footer__social-link--pinterest::before {
  background-image: url(../img/footer/pinterest.svg);
  width: 16px;
  height: 16px;
}

.footer__social-link--whatsapp::before {
  background-image: url(../img/footer/whatsapp.svg);
  top: 7px;
  left: 1px;
  width: 14px;
  height: 14px;
}

.footer__social-link--youtube::before {
  background-image: url(../img/footer/youtube.svg);
  top: 8px;
  left: -1px;
  width: 18px;
  height: 12px;
}

.footer__menu-item {
  margin-bottom: 15px;
}

.footer__menu-link {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
}

.footer__copyright {
  background-color: #363838;
  color: #A1A1A1;
  text-align: center;
  padding: 42px 0 41px;
}

.rightside__menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 694px;
  margin-left: 116px;
  background-color: #fff;
  transition: all 0.3s;
}

.rightside__menu.rightside__menu--close {
  transform: translateX(100%);
}

.rightside__menu-close {
  background-color: transparent;
  margin: 41px 0 0 47px;
  color: #363838;
}

.rightside__menu-content {
  text-align: center;
  max-width: 483px;
  margin: 0 auto;
}

.rightside__menu-logo {
  margin-bottom: 26px;
}

.rightside__menu-title {
  color: rgb(54, 56, 56);
  font-size: 36px;
  line-height: 51px;
  position: relative;
  margin-bottom: 13px;
}

.rightside__menu-title::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: -4px;
  right: 0;
  left: 0;
  max-width: 252px;
  height: 1px;
  background: #6D7278;
}

.rightside__menu-text {
  margin-top: 13px;
  color: rgb(90, 90, 90);
  margin-bottom: 90px;
}

.rightside__menu-img {
  max-width: 483px;
}

.top {
  padding-bottom: 33px;
}

.top__inner {
  padding-bottom: 5px;
  position: relative;
}

.no-webp .top__inner::after {
  background-image: url(./../img/page/slider-backround.jpg); }

.top__inner::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 722px;
}

.top__slider-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 19px;
       column-gap: 19px;
}

.top__slider-img {
  max-width: 703px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -10%;
}

.top__slider-info {
  max-width: 635px;
}

.top__slider-title {
  color: #363838;
  font-size: 110px;
  line-height: 135px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.top__slider-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #979797;
  width: 185px;
  height: 1px;
}

.top__slider-text {
  width: 586px;
}

.furniture {
  padding: 100px 0;
  text-align: center;
}

.furniture__info {
  max-width: 730px;
  margin: 0 auto;
}

.furniture__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.furniture__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 252px;
  height: 1px;
  margin: 0 auto;
  background-color: #6D7278;
}

.furniture__text {
  padding-bottom: 27px;
  max-width: 730px;
  margin: 0 auto;
}

.collection {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.collection__item {
  position: relative;
  opacity: 1;
}

.collection__item:hover .collection__info {
  opacity: 1;
}

.collection__img {
  min-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection__info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}

.collection__info-title {
  color: #363838;
  line-height: 25px;
  font-size: 20px;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}

.collection__info-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 200px;
  height: 1px;
  background: #6D7278;
}

.collection__info-text {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.no-webp .decor {
  background: url(../img/page/decor-background.jpg); }

.decor {
  padding: 172px 0 156px;
}

.decor__info {
  max-width: 530px;
}

.decor__title {
  font-size: 60px;
  color: #363838;
  line-height: 80px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}

.decor__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 1px;
  background-color: rgb(151, 151, 151);
}

.works {
  margin: 79px 0 100px;
}

.works__title {
  color: rgb(54, 56, 56);
  text-align: center;
  font-size: 36px;
  line-height: 51px;
}

.works__inner {
  display: flex;
  padding-top: 40px;
}

.works__inner-top {
  -moz-column-gap: 270px;
       column-gap: 270px;
}

.works__inner-bottom {
  padding-left: 270px;
  -moz-column-gap: 270px;
       column-gap: 270px;
}

.works__row {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.works__item {
  max-width: 268px;
}

.works__item-title {
  color: rgb(54, 56, 56);
  line-height: 22px;
  margin-bottom: 14px;
  padding-left: 50px;
  position: relative;
}

.works__item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 42px;
}

.works__item-1::before {
  background: url(../img/page/works-1.svg);
  background-repeat: no-repeat;
  top: -12px;
  width: 41px;
  height: 42px;
}

.works__item-2::before {
  background: url(../img/page/works-2.svg);
  background-repeat: no-repeat;
  top: -2px;
  width: 38px;
  height: 26px;
}

.works__item-3::before {
  background: url(../img/page/works-3.svg);
  background-repeat: no-repeat;
  top: -5px;
  width: 38px;
  height: 34px;
}

.works__item-4::before {
  background: url(../img/page/works-4.svg);
  background-repeat: no-repeat;
  top: -12px;
  width: 42px;
  height: 37px;
}

.webp .top__inner::after { background-image: url(./../img/page/slider-backround.webp); }

.webp .decor { background: url(../img/page/decor-background.webp); }